# Python CircleCI 2.0 configuration file
version: 2
jobs:
  publish-github-release:
    docker:
      - image: cibuilds/github:0.10

    working_directory: ~/repo
    title: The second release
    notes: Our amazing release only available for windows

    steps:

      - checkout

      - run:
          name: "Publish Release on GitHub"
          command: |
            VERSION=4.0.0
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./dist/

      # Upload artifacts in Artifacts:
      - store_artifacts:  
          path: dist

  build:
    docker:
      - image: circleci/python:3.7

    working_directory: ~/repo

    steps:
      # Step 1: obtain repo from GitHub
      - checkout
      # Step 2: create virtual env and install dependencies
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      # Step 3: run linter and tests
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            flake8 --exclude=venv* --statistics --ignore=E712,E711,W293,W291,W292,E127,E128,E126,E501
            pytest -v --cov
            

      # Step 3: check executables
      - run:
          name: check executables
          command: |            
            . venv/bin/activate
            pyinstaller EasyChess.py -F --noconsole

      
      # Upload artifacts in Artifacts:
      - store_artifacts:  
          path: dist

workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /^\d+\.\d+\.\d+$/
      - publish-github-release:
          requires:
            - build
          filters:
            branches:
              only:
                - main
            tags:
              only: /^\d+\.\d+\.\d+$/
            