# Python CircleCI 2.0 configuration file
version: 2.1
orbs:
  github-release: h-matsuo/github-release@0.1.1
jobs:
  publish-github-release:
    
    # executor: github-release/default
    steps:
      docker:
        - image:cimg/base:stable-20.04
      # Step 1: obtain repo from GitHub
      - checkout

      # Step 2: create virtual env and install dependencies
      - run:
          name: install dependencies
          command: |
            sudo apt-get install patchelf
            sudo apt-get install python3-dev
            sudo apt-get install python3-venv

            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      # Step 3: Produce linux executables
      # Windows executables are locally produced
      # As of this script, circleci doesent have a stable windows image
      - run:
          name: produce executables
          command: |                
            . venv/bin/activate
            python setup.py build
      - run:
          name: Produce executables 
          command: |                
            . venv/bin/activate
            tar cvf ./build/EasyChess.tar ./build/
            dir
            cp ./dist/EasyChess.exe ./build/EasyChess.exe

      # Step 4: Upload artifacts in dist:
      - store_artifacts:  
          path: build
          
      # Step 5: Publish the release
      # The above orbs is used
      - github-release/create:
          tag: v3.4.1.9
          title: EasyChess v3.4.1.9
          description: Stable executables for both windows and linux environment and source code
          file-path: ./build

  build:

    docker:
      - image: circleci/python:3.7
    working_directory: ~/repo

    steps:
      # Step 1: obtain repo from GitHub
      - checkout

      # Step 2: create virtual env and install dependencies
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      # Step 3: run linter and tests
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            flake8 --exclude=venv* --statistics --ignore=E712,E711,W293,W291,W292,E127,E128,E126,E501
            pytest -v --cov
      
workflows:
  version: 2.1
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /^\d+\.\d+\.\d+$/
      - publish-github-release:
          requires:
            - build
          filters:
            branches:
              only:
                - main
            tags:
              only: /^\d+\.\d+\.\d+$/
            